<html>    
    <head>
        <meta name="Content-Language" content="en-US" />
        <title>${pageTitle}</title>
        <link rel="stylesheet" type="text/css" href="/style.css" 
              media="screen" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <table class="table">
            <tr>
                <td class="right">
                    <nav class="user">${userBlock}</nav>                    
                </td>
            </tr>
            <tr>
                <td class="right boxed" rowspan="2">
                    <article class="content">${content}</article>
                </td>
            </tr>
            <tr></tr>
        </table>
    </body>
</html>
